 html{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(71, 68, 68);
}

#logo{
    border-style: solid;
    border-color: rgb(31, 137, 98);
    width: 100px;
    height: 100px;
}

 header{
    background-color:rgb(164, 240, 71);
    color:rgb(3, 4, 4);
} 

.content .row{
    background-color: rgb(252, 250, 250);
}

@media screen and (min-width: 768px) {

}

 


