body {
    background-color: rgb(18,18,18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    border: 5px;
    border-radius: 10px;
    color: rgb(173,181,189);
    border: 1px solid rgb(33,150,243);
    max-width: 450px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(33,37,41);
}

form h2 {
    color: aliceblue;
    margin: auto;
}

form .item {
    padding-top: 10px;
    padding-bottom: 10px;
}
form button {
    background-color: rgb(33,150,243);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(33,150,243);
    width: 100%;
    height: 60px;
}

form button:hover {
    background-color: rgb(142, 40, 226);
    border: solid rgb(142, 40, 226);
}
form input {
    border-radius: 5px;
    border: 1px solid rgb(173,181,189);
    width: 100%;
    background-color: rgb(33,37,41);
    color: aliceblue;
    padding: 5px;
}

form textarea {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: rgb(33,37,41);
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgb(173,181,189);
}


.main_button {
    max-width: 1000px;
    margin: 60px auto 20px auto;
}
.main_button button{
    background-color: rgb(33,150,243);
    border-radius: 5px;
    border: solid rgb(33,150,243);
    padding: 20px 30px 20px 30px;
    color: white;
}

.main_button button:hover {
    background-color: rgb(142, 40, 226);
    border: rgb(142, 40, 226);
}

.main_button h1 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;

}

@media screen and (min-width: 470px) { 
    form {
        margin: 20px auto 20px auto;
    }
}
