body {
    margin: 0px;
    background-color: rgb(25, 23, 26);
    font-family:cursive;
}  

header {
    width:100%; 
    padding: 10px; 
    height: 140px;
    background-color:rgb(164, 240, 71);
    color:rgb(3, 4, 4);
    box-sizing: border-box;
}
    
header h1{
    margin-top: 40px;
}
    
#logo  {
    width: 100px;
    height: 100px;
    float: left;
    margin: -32px 35px 0 0; 
    border-style: solid;
    border-color: rgb(31, 137, 98);
}

nav { 
    text-align: center;
    background-color:rgb(230, 173, 30);
    box-sizing: border-box;
    padding: 20px;
}

nav a {
    color:rgb(17, 18, 17);
    text-decoration: none;
    margin: 10px; 
}

nav a:hover {
    text-decoration: underline;
}

.center {
    max-width: 960px;
    margin: 20px auto 0px auto;
}

.container {
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 20px;
    background-color: white;
    border-style: solid;
    border-color: rgb(43, 137, 31);
    border-width: 5px;
    font-family: Andale Mono, monospace;
}


.container a {
    color:rgb(17, 18, 17);
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-style: solid;    
}

td, th {
    border-style: solid;
}

table tbody tr:nth-child(odd){
	background: #fff;
}

table tbody tr:nth-child(even){
	background: #daea9a;
}

table th {
	background: rgb(230, 173, 30);
}

footer {
    width:100%; 
    background-color:rgb(43, 137, 31);
    padding: 10px;
    height:80px;
    box-sizing: border-box;
}
