

body {
    margin: 0px;
    background-color: rgb(237, 224, 159);
    font-family:cursive;
  }  

header {
    width:100%; 
    padding: 10px; 
    height: 120px;
    color:rgb(31, 137, 98);
    background-color:rgb(49, 4, 45);
}

nav { 
    text-align: center;
    background-color:rgb(230, 173, 30);
    padding: 20px;
}

footer {
    width:100%; 
    background-color:rgb(49, 4, 45);
    padding: 10px;
    height:60px;
    color: beige;
}

#logo  {
    width: 100px;
    height: 100px;
    float: left;
    margin: -25px 35px 0 0; 
    border-style: solid;
    border-color: rgb(31, 137, 98);
}
 
header h1{
    margin-top: 40px;
}

.container {
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(139, 227, 190);
    border-style: solid;
    border-color: rgb(31, 137, 98);
    border-width: 5px;
    font-family: Andale Mono, monospace;
}

#list h2{
    color: rgb(35, 33, 34);
}
.container a {
    color:rgb(17, 18, 17);
    text-decoration: none;
}
.container a:hover {
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border-style: solid;
}


nav a {
    color:rgb(17, 18, 17);
    text-decoration: none;
    margin: 10px; 

}

nav a:hover {
    text-decoration: underline;
}

.center {
    box-sizing: border-box;
    max-width: 960px;
    margin: 20px auto;
}



table tbody tr:nth-child(odd){
	background: #fff;
}
table tbody tr:nth-child(even){
	background: #daea9a;
}

table th {
	background: rgb(228, 163, 207);
}

