body {
margin: 0px;
background-color: rgb(25, 23, 26);
font-family: tahoma;
box-sizing: border-box;
}

header {
background-color:rgb(164, 240, 71);
color:rgb(3, 4, 4);
}

.head {
display: flex;
align-items: center;
justify-content: center;
padding:20px;
}


header h1{
margin-left: 20px;
font-family: cursive;
}

#logo  {
border-style: solid;
border-color: rgb(31, 137, 98);
width: 100px;
height: 100px;   
}

/* ------------- */

nav { 
display: flex;
flex-direction: column;
justify-content: flex-start;


text-align: left;
padding: 10px;
margin: 20px 5px 0px 5px;
background-color:rgb(230, 173, 30);
border-radius: 5px;
}

nav a {
color:rgb(17, 18, 17);
text-decoration: none; 
margin: 10px; 
}

nav a:hover {
text-decoration: underline;
}


/* ---------- */
.content{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0 5px;
}

.container {
/* background-color: rgb(139, 227, 190); */
background-color: white;
border-style: solid;
border-color: rgb(43, 137, 31);
border-width: 5px;
padding: 10px;
margin: 20px 5px 0px 5px;
border-radius: 5px;
}

.table {
order: 1;
}

.container a {
color:rgb(17, 18, 17);
text-decoration: none;
}
.container a:hover {
text-decoration: underline;
}

h2 {
color: rgb(35, 33, 34);
margin-left: 10px;
}

table {
border-collapse: collapse;
width: 100%;
}

td, th {
border-style: solid;
}

table tbody tr:nth-child(odd){
background: #fff;
}

table tbody tr:nth-child(even){
background: #daea9a;
}

table th {
background: rgb(230, 173, 30);
}

footer {
display: flex;
background-color:rgb(43, 137, 31);
margin-top:20px; 
padding: 10px;
height:60px;
}


@media screen and (min-width: 768px) {  
    
    body{
        font-family: cursive;
    }

    .head{
        max-width: 960px;
        margin: 0px auto 0px auto;
        display: flex;
        justify-content: flex-start;
    
    }

    nav{
        max-width: 960px;
        margin-left:auto;
        margin-right:auto;
        justify-content: center;
        flex-direction: row;
    }

    /* ---------- */
    .content
    {
        max-width: 960px;
        margin: 0px auto 20px auto;  
    }

    .form
    {
        order: 1;
    }

}
